body {
  background-color: lightgray;
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: var(--system-ui);
  line-height: 1.5;
  font-weight: 400;
}

#app {
  padding-block-start: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-block-end: 4rem;
}

#app div {
  margin: 0 auto;
}
.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 2rem;
  margin-block-end: 2rem;

}

.box {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box p {
  color: white;
  align-self: center;
}
